body {
    font-family: "Open Sans", sans-serif;
    color: #3b3b3b;
    line-height: 140%;
    padding: 5%;
    margin: 0;
    background-color: white; }

h1 {
  font-weight: bold;
  font-size: 150%;
  line-height: 140%;
  margin-top: 48px;
  color: #32659C; }

h2 {
  font-weight: bold;
  font-size: 125%;
  line-height: 140%;
  margin-top: 48px;
  color: #32659C; }

h3 {
  font-weight: bold;
  font-size: 112%;
  line-height: 140%;
  margin-top: 12px;
  color: #32659C; }

ul {
  list-style: square; }

ul li {
  margin-bottom: 0.5ex; }

ul ul {
  margin-top: 0.5ex; }

dl dd {
  margin-bottom: 0.5ex; }

img {
  border: none; }

h1 a {
  color: #32659C;
  text-decoration: none; }

h2 a {
  color: #32659C;
  text-decoration: none; }

h3 a {
  color: #32659C;
  text-decoration: none; }

a {
  color: #5D94D0;
  text-decoration: none; }

a:focus {
  color: #8BB4E1;
  text-decoration: none; }

a:hover {
  color: #8BB4E1;
  text-decoration: none; }

hr {
  color: #3b3b3b;
  background-color: #08274A;
  border-style: none;
  height: 1px; }

div.body {
  color: #3b3b3b;
  background-color: white;
  margin-top: 2ex;
  margin-bottom: 2ex;
  margin-left: 6ex;
  margin-right: 3ex;

  /* Multiple columns */
  !-webkit-column-width: 30%;
  !-moz-column-width: 30%;
  !column-width: 30%;
  
  !-webkit-column-count: 2;
  !-moz-column-count: 2;
  !column-count: 2;
  
  !-webkit-column-gap: 5em;
  !-moz-column-gap: 5em;
  !column-gap: 5em; }

.text {
  width: 41em;
  margin-left: auto;
  margin-right: auto;
  padding: 0; }
  
div.indent {
	
text-indent: 5%;}

.visually-hidden {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
a:hover .visually-hidden,
a:focus .visually-hidden,
button:hover .visually-hidden,
button:focus .visually-hidden {
	position: relative;
	margin: 0;
}
[hidden] {
	display: none;
}

@media (max-width: 978px) {
    .container {
      padding:0;
      margin:0;
    }

	.body {
	color: #3b3b3b;
	background-color: white;
	margin:0;
	padding:0;
	}
}